.similarArtistsWrapper{
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1em;
    padding: 1em;
    h4{
        width: 100%;
        text-align: center;
        padding-bottom: 1em;
    }
    .similarArtist{
        max-width: 100px;
        img{
            border-radius: 50%;
            height: 100px;
            width: 100px;
        }
        p{
            text-align: center;
        }
        &:hover{
            cursor: pointer;
            p{
                font-weight: bold;
            }
        }
    }
}